<div class="hero pt-4">
  <div class="frosty pt-3 pb-3 col-10 offset-1 text-center">
    <h1>Landing page</h1>
    <br />
    <h2>This is Flixter!</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  </div>
</div>
