<div class="p-4 hero">
  <div>
    <div class="frosty mx-auto mt-4 text-center p-4 col-10 offset-1">
      <h1>This is Flixter!</h1>
      <br />
      <p class="lead">This is about knowledge, skills, flexibility and fun.
      <br />
      Learn something new today.</p>
      <br />
      <%= link_to 'Browse courses', courses_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>
<br />
<div class="row text-center feature mx-auto px-3">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers. From cooking to arts and technologies, we got something new and exciting for you to learn.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a courses archive of lessons.
    Study whenever and whereever it suits you!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.
      <br /> Get support from your mentors and peers.
    <br />
  Find solutions and celebrate victories together.</p>
  </div>
</div>
