<br />
<div class="form-box col-10 offset-1">
  <h1>Add a new section</h1>
  <br />
  <%= simple_form_for @section, url: instructor_course_sections_path(@course) do |f| %>
    <%= f.input :title %>
    <br />
    <%= f.submit "Add a section" %>
    <br />
    <br />
  <% end %>

</div>
