<br />

<div class="form-box col-10 offset-1">
  <h1 class="text-center">Learn something today</h1>
  <hr />
  <% @courses.each do |course| %>
    <h2 class="text-center course-header">
      <%= link_to course.title, course_path(course) %>
      <div class="text-center">
        <%= image_tag(course.image.to_s) %>
      </div>
    </h2>
    <br />
    <div class="row">
      <div class="col-sm-8 col-12">
        <%= course.description %>
      </div>
      <div class="col-sm-4 col-12 text-center">
        <%= link_to 'More details...', course_path(course), class: 'btn btn-primary btn-large' %>
      </div>
    </div>
    <br class="clr" />
  <% end %>
</div>
