@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: image_url('subtle_dots.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.navbar {
  font-family: 'Noto Sans', sans-serif;
  box-shadow: 0px 1px 1px #2a2a2a;
  background: image_url('noisy_net.png');

}

.navbar-brand {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  color: #fff;
}

.form-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #e4e4e4 #bebebd;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

.frosty h1 h2 {
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  }

  .help-block {
  color: #ff3333;
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.course-header a {
  color: #193f79;
}
.section {
  border: 1px solid;
  border-color: #e4e4e4;
  padding: 20px;
}
.lesson {
  background-color: #000;
  margin-top: 10px;
  height: 130px;
  font-size: 15px;
  padding: 10px;
}

.lesson a {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.lesson a b {
  font-size: 25px;
  font-weight: 100;
}

ul {
  list-style-type: none;
  padding: 0;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4;
  padding: 20px;
  margin-bottom: 10px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: 'Noto Sans', sans-serif;
  padding: 10px;
  font-size: 15px;
}
.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}
